
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:#050816;

color:white;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 10%;

}

.logo{

font-size:22px;

font-weight:800;

letter-spacing:3px;

color:#3ecfff;

}

ul{

display:flex;

list-style:none;

gap:40px;

}

a{

text-decoration:none;

color:white;

transition:.3s;

}

a:hover{

color:#3ecfff;

}

.hero{

height:90vh;

display:flex;

justify-content:center;

align-items:center;

padding:10%;

}

.hero-content{

max-width:800px;

}

.status{

display:inline-block;

padding:10px 18px;

background:#0f1c3d;

border-radius:30px;

color:#4fd9ff;

margin-bottom:25px;

}

h1{

font-size:72px;

font-weight:800;

line-height:1.1;

margin-bottom:20px;

}

h2{

font-size:28px;

color:#4fd9ff;

height:40px;

margin-bottom:30px;

}

.description{

font-size:20px;

line-height:1.8;

color:#c7d0dd;

margin-bottom:40px;

}

.buttons{

display:flex;

gap:20px;

}

.primary{

background:#3ecfff;

padding:18px 36px;

border-radius:10px;

color:black;

font-weight:700;

}

.secondary{

border:1px solid #3ecfff;

padding:18px 36px;

border-radius:10px;

color:#3ecfff;

}

.primary:hover{

transform:translateY(-3px);

}

.secondary:hover{

background:#3ecfff;

color:black;

}
